.intro-container {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.front .intro-text{
  font-family: 'Satisfy', cursive;
  color: lightgrey;
  text-align: center;
  margin-top: 12rem;
  -webkit-text-stroke: 2px black;
  font-size: 5.5rem;
  margin-left: auto;
  margin-right: auto;
}

@keyframes mouse_moving{
	50%{
		transform: translate(-100px, -100px);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes finger_clicking{
	50%{
		transform: scale(2);
	}
	100%{
		transform: scale(1);
	}
}

.hide{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

 .word, .char {
	 animation-delay: var(--del);
	 animation-direction: var(--dir, normal);
	 animation-duration: var(--dur);
	 animation-iteration-count: var(--it, infinite);
	 animation-name: var(--name);
	 animation-timing-function: var(--tf);
	 animation-fill-mode: var(--fill, forwards);
	 display: inline-block;
	 position: relative;
	 transform-origin: 50% 100%;
	 z-index: 1;
 }

.headline--jump .char {
	 --name: jump;
	 --dur: 1500ms;
	 --del: calc(var(--char-index) * 0.075s);
	 --tf: cubic-bezier(0.165, 0.44, 0.64, 1);
}
 @keyframes jump {
	 20% {
		 transform: translateY(2%) scaleY(0.9);
	}
	 40% {
		 transform: translateY(-100%) scaleY(1.2);
	}
	 50% {
		 transform: translateY(10%) scaleY(0.8);
	}
	 70% {
		 transform: translateY(-5%) scaleY(1);
	}
	 80%, 100% {
		 transform: translateY(0) scaleY(1);
	}
}

.hide-start{
	opacity: 0;
}

.appear{
	opacity: 100%;
	visibility: visible;
	-webkit-transition: opacity 1s, visibility 0s 1s;
	transition: opacity 1s, visibility 0s 1s;
}

.back h1{
	top: 1.5rem;
	margin-right: 50rem;
	left: 3rem;
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
	padding: 5px;
	transform: rotate(-8deg);
	z-index: 3;
	border-right: dashed black 2px;
	border-bottom: dashed black 2px;
	font-size: 3rem;
	position: absolute;
}

.back h2{
	top: 8.5rem;
	background-color: #b3cdd1;
	background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
	padding: 5px;
	z-index: 2;
	border-right: dashed black 2px;
	border-bottom: dashed black 2px;
	position: absolute;
}

.back .contact{
	top: 25rem;
	background-color: #bdcad9;
	background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
	padding: 5px;
	z-index: 1;
	border-right: dashed black 2px;
	border-bottom: dashed black 2px;
	position: absolute;
}

.back .contact legend{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

.back img{
	position: absolute;
	right: 3rem;
	top: 5rem;
	height: 100%;
	width: 60%;
}

@media only screen and (max-width: 600px) {
	.intro-container{
		height: 50rem;
		width: 100%
	}
	.front .intro-text{
		font-size: 4rem;
	}
	
	.mouse-img{
		display: none;
	}
	
	.finger-img{
		width: 50%;
		height: 50%;
		left: 1rem;
		display: block;
		animation: finger_clicking;
		animation-iteration-count: infinite;
		transform-origin: 50% 100%;
		animation-duration: 1500ms;
	}
	
	.back h1{
		font-size: 2rem;
		margin: 0;
		left: 0;
		top: 3vh;
	}
	
	.back h2{
		#position: static;
		display: inline-block;
		font-size: 1rem;
		top: 28rem;
		margin-right: 12rem;
	}
	
	.back .contact{
		#position: static;
		display: inline-block;
		font-size: 0.8rem;
		top: 32rem;
		left: 8.5rem;
	}
	
	.back img{
		height: 60%;
		width: 80%;
		left: 5vh;
	}
}

@media only screen and (min-width: 600px) {
	.front .intro-text{
		width: 80rem;;
	}
	
	.mouse-img{
		position: absolute;
		width: 5%;
		height: 5%;
		right: 14rem;
		bottom: 14rem;
		animation: mouse_moving;
		animation-iteration-count: infinite;
		transform-origin: 50% 100%;
		animation-duration: 1500ms;
	}
	
	.finger-img{
		display: none;
	}
	
	.back h2{
		transform: rotate(6deg);
		left: 8rem;
		margin-right: 60rem;
		margin-left: 1rem;
	}
	
	.back .contact{
		transform: rotate(-5deg);
		margin-right: 50rem;
		left: 12rem;
	}
}